/PythonProjects/ToDoApp/venv/
/PythonProjects/ToDoApp/bonus/
/PythonProjects/ToDoApp/files/
/PythonProjects/ToDoApp/exercises/
/PythonProjects/ToDoApp/journal/
/PythonProjects/ToDoApp/.idea/
/PythonProjects/Random_Number_Generator/.idea/
